# Tipo de Base de Datos (postgresql o mysql)
DB_CLIENT=postgresql

# Configuración de Base de Datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_password
DB_NAME=gfc_database

# Puerto del servidor
SERVICE_PORT_ADMIN=3000

# Puerto del servidor interno para gestión (caché, métricas, etc.)
SERVICE_PORT_INTERNAL=3001

# Configuración de CORS (separar múltiples orígenes con espacios)
CORS_ORIGIN=http://localhost:3000 http://localhost:8080

# Modo de Escritura (READ_ONLY o READ_WRITE)
MODO_ESCRITURA=READ_WRITE

# URL base para las imágenes
IMG_BASE_PATH=https://gfc.api2.greenborn.com.ar/ 